* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

header, main {
	max-width: 980px;
	margin: 0 auto;
}

.correct-answer, .incorrect-answer {
	font-size: 40px;
}

.correct-answer {
	color: green;
}

.incorrect-answer {
	color: red;
}