* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

header, main {
	max-width: 980px;
	margin: 0 auto;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 35px;
}

li {
	list-style-type: none;
}

.question-top {
	width: 100%;
}

.question-text {
	width: 40%;
	float: left;
}

.question-number {
	width: 25%;
	margin-left: 5%;
	float: left;
}

.question-score {
	width: 25%;
	margin-left: 5%;
	float: left;
}

.correct-answer, .incorrect-answer {
	font-size: 30px;
}

.correct-answer {
	color: green;
}

.incorrect-answer {
	color: red;
}