* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

header, main {
	max-width: 980px;
	margin: 0 auto;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 35px;
}

li {
	list-style-type: none;
}

.correct-answer, .incorrect-answer {
	font-size: 30px;
}

.correct-answer {
	color: green;
}

.incorrect-answer {
	color: red;
}